// Variables
@import "../helpers/variables";
@import "../helpers/mixins";

.border-left-grey{
  border-left: 1px solid #A6A4A4;
}

.border-right-grey{
  border-right: 1px solid #A6A4A4;
}

.border-both-grey{
  border-right: 1px solid #A6A4A4;
  border-left: 1px solid #A6A4A4;
}

.border-danger{
  border: 1px solid $danger;
}

.border-danger-checkbox .custom-control-label::after {
  border: 1px solid $danger;
}

.small-rounded {
  border-radius: 6px;
}
.medium-rounded {
   border-radius: 12px;
}
.large-rounded {
  border-radius: 18px;
}

.border-shadow-grey {
  box-shadow: 2px 2px 5px #d0d0d0;
}
