// Variables
@import "../helpers/variables";
@import "../helpers/mixins";

.position-absolute {
  position: absolute;
}
.aligned-items-center{
  display: flex!important;
  align-items: center!important;
}

.aligned-items-bottom{
  display: flex;
  align-items: flex-end;
  justify-content: center;
}