.footer {
  background-color: $border-grey;
  > .container {
    padding: 50px 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include media-breakpoint-down('sm') {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__contact {
    p {
      margin: 0;
    }
  }
  &__information {
    a {
      color: $base-dark;
      text-decoration: none;
    }
    @include media-breakpoint-down('sm') {
      margin-top: 25px;
    }
  }
  @include media-breakpoint-up('md') {
    z-index: 1002;
    position: relative;
  }
}
