.orangogo-custom-selector {
  position: relative;
  font-size: 14px;
  &__input {
    padding: 5px 20px 5px 10px;
    border: 1px solid $border-grey--darker;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    i {
      position: absolute;
      right: 10px;
      top: 0;
      bottom: 0;
      margin: auto;
      color: $base-dark;
      display: flex;
      align-items: center;
    }
    &--empty {
      color: $border-grey;
    }
  }
  &__list {
    position: absolute;
    background-color: white;
    width: 100%;
    top: 33px;
    border: 1px solid $border-grey--darker;
    border-top: 0;
    padding: 10px;
    z-index: 100;
    margin: 0;
    list-style: none;
    &__item {
      padding: 4px 0;
      border-top: 2px solid $border-grey;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      &:first-child {
        border-top-width: 0;
      }
      i {
        margin-right: 10px;
        color: $orango;
      }
    }
  }
}
