// Body
$body-bg: #f8f8f8;
$base-dark: #4A4A4A;

// Typography
$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Colors
$orange-gradient-1: #F49C2E;
$orange-gradient-2: #F47E2E;
$orango: #f4812e;
$secondary: #f4812e;
$blue: #17BEBB;
$dark-grey: #F2F2F2;
$border-grey: #e7e7e7;
$border-blue: #17BEBB;
$success: #25DC15;
$danger: #EC202C;
$disable: #e9ecef;
$blue-gradient-1: #17BEBB;
$blue-gradient-2: #7DCFB6;
$dark-white: #F6F6F6;
$light-grey: #f8f8f8;
$dark-blue: #4581EA;
$blue--alt: #428bca;

$light-black: #AAAAAA;
$facebook: #4068B5;

$border-grey--darker: #D4D4D4;
