.results-course-card {
  padding: 20px 5px;
  border-bottom: 1px solid lightgray;
  &__info-container{
    min-width: 60%;
  }
  &__left-info{
    @include media('<=tablet'){
      width: 100%;
      margin: 0;
    }
    float: left;
    width: 60%;
    @include media-breakpoint-down('md') {
      margin-right: 0;
      width: 100%;
    }
  }
  &__right-info{
    float: right;
    @include media('<=tablet'){
      float: left;
    }
  }
  &__image {
    @include media('<=tablet'){

    }
    a {
      @include media('<=tablet'){
        width: 100%;
      }
      border-radius: 5px;
      min-height: 190px;
      overflow: hidden;
      background-color: black;
      display: flex;
      align-items: center;
      img {
        width: 100%;
      }
    }
  }


  &__body {
    padding-bottom: 20px;
    p {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__address {
      margin-top: 10px;
      margin-bottom: 0;
      text-transform: uppercase;
      font-size: 13px;
      i {
        color: $orango;
        margin-right: 5px;
      }
    }
    &__name {
      font-size: 18px;
      margin-top: 5px;
      margin-bottom: 0;
      a {
        text-decoration: none;
        color: $base-dark;
        &:hover{
          color: $light-black;
        }
      }
    }
    &__lessons {
      &__day {
        margin-right: 5px;
        display: inline-block;
        width: 25px;
        height: 25px;
        color: $light-black;
        text-align: center;
        line-height: 22px;
        &--has-lesson {
          color: inherit;
          border: 2px solid $orango;
          border-radius: 50%;
        }
      }
    }
    &__short-age-range {
      font-size: 13px;
      border-left: 1px solid $gray-100;
      p {
        margin: 0;
      }
      i {
        color: $orango;
        margin-right: 5px;
      }
    }
    &__age-range {
      font-size: 13px;
      margin: 0;
      i {
        color: $orango;
        margin-right: 5px;
      }
    }
    &__rating {
      display: flex;
      align-items: center;
      font-size: 12px;
      margin-left: 15px;
      i {
        color: $orango;
      }
    }
  }
  &__actions {
    text-align: center;
    .btn {
      text-transform: uppercase;
      padding: 8px 30px;
    }
  }
  &--detail {
    display: flex;
    @include media-breakpoint-down('md') {
      flex-direction: column;
    }
    .results-course-card__image {
      @include media ('<=tablet'){
        max-height: 100%;
      }
      position: relative;
      max-height: 180px;
      overflow: hidden;
      @include media-breakpoint-down('md') {
        margin-right: 0;
        border-radius: 5px;
        margin-bottom: 10px;
      }
      a {
        @include media ('<=tablet'){
          width: 100%;
        }
        width: 250px;
        min-height: unset;
        @include media-breakpoint-down('md') {
          width: 100%;
        }
      }
      &__tags {
        position: absolute;
        left: -20px;
        top: 20px;
        div {
          color: white;
          font-size: 10px;
          padding: 2px 5px;
          border-radius: 3px;
          width: fit-content;
          margin-bottom: 5px;
          i {
            margin-right: 5px;
          }
          &.tag-orangogo {
            background: linear-gradient($orange-gradient-1, $orange-gradient-2);
          }
          &.tag-primary {
            background: linear-gradient($blue-gradient-1, $blue-gradient-2);
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .results-course-card__body {
      padding-bottom: 0;
      &__address {
        margin: 0;
      }
      &__name {
        font-size: 24px;
      }
      &__lessons {
        margin-bottom: 0;
      }
    }
    .results-course-card__addition {
      text-align: right;
      @include media ('<=tablet'){
        text-align: left;
      }
      p {
        margin: 0;
      }
      &__places-available {
        color: $light-black;
      }
    }
  }
}
