// Variables
@import "../variables";
/*-------Company Dashboard---------*/

.course-image{
  max-width:100%;
  min-height:165px;
  object-fit: contain;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.company-dashboard__course-address{
  font-size: 12px;
}

.company-icon{
  font-size: 14px;
  color: $orange;
}

.company-remove-icon{
  cursor: pointer;
  color: $danger;
  font-size: 13pt;
}

.cursor-pointer{
  cursor: pointer;
}

.company-day{
  display: inline-block;
  color: grey;
  width: 30px;
  height: 30px;
  padding: 1px 0;
  transition: all .5s ease;
  margin-right: 0.2rem;
  font-weight: bold;
}

.company-day-active{
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid $orange-gradient-1;
  color: black;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-bottom: -2px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $orange;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.dashboard-alerts{
  position: fixed !important;
  top: 30px;
  right: 20px;
  z-index: 999999;
}
