// Variables
@import "../variables";
/*-------Forms---------*/

.is-danger {
  border-color: $danger !important;
}

.is-danger input[type="text"] {
  border: 1px solid $danger !important;
}

.form-input {
  border-color: $border-blue;
}

.v-select .dropdown-toggle {
  border: 1px solid $border-blue !important;
}

.form-solid-border {
  border: 2px solid $border-blue;
}

.form-dashed-border {
  border: 2px dashed $border-blue;
}

.form-datepicker input[type="text"] {
  border: 1px solid $border-blue;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  line-height: 1.6;
  width: 100%;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form-datepicker input[type="text"]:disabled {
  border: 1px solid $border-grey;
}

.form-timepicker {
  margin-right: 40px;
}

.form-timepicker-border input[type="text"] {
  border: 1px solid $border-blue !important;

}

.time-picker {
  font-family: inherit !important;
}

.time-picker input.display-time {
  display: block;
  width: 100% !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 0.9rem !important;
  line-height: 1.6;
  height: 4em !important;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form-next-button {
  background-color: $orango !important;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.custom-select {
  border-color: $border-blue;
}

.custom-select:disabled {
  border-color: $border-grey;
}

.form-space-between {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-content: left;
  width: 100%;
  margin-bottom: 1rem;
}

.form-day-box {
  margin-bottom: 2rem;
}

.form-day-box input {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: relative;
}

.form-day-box label {
  display: block;
  width: 41px;
  height: 41px;
  border-radius: 100px;
  border: 1px solid $border-blue;
  padding: 8px 10px;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
}

.form-day-box input[type=checkbox]:checked + label {
  background: $blue;
  color: white;
}

.form-day-box-fill {
  display: block;
  background: linear-gradient($blue-gradient-1, $blue-gradient-2);
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid $border-blue;
  padding: 8px 5px;
  transition: all .5s ease;
  top: 5px;
  left: 5px;
  z-index: 1;
  margin-right: 1rem;
  text-align:center;
}

.form-day-box-button {
  display: inline-block;
  background: white !important;
  color: $blue !important;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid $border-blue;
  padding: 8px 10px;
  transition: all .5s ease;
  top: 5px;
  left: 5px;
  z-index: 1;
  margin-right: 1rem;
}

.form-button-rounded {
  border: 1px solid $border-blue;
  color: $blue !important;
  background-color: white !important;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.60rem 2rem;
}

.form-button-rect {
  border: 1px solid $border-blue;
  color: $blue !important;
  background-color: white !important;
  text-transform: uppercase;
  font-size: 0.8rem;
  border-radius: 0px;
  font-weight: bold;
}

.form-button-selected {
  border: 1px solid $border-blue;
  background: linear-gradient($blue-gradient-1, $blue-gradient-2);
  color: white !important;
}

.form-image-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 3.75rem;
  height: 3.75rem;
}

.form-image-preview-small{
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.form-image-preview-large {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 150px;
  height: 150px;
}

.file-upload-form {
  display: inline-block;
  cursor: pointer;
}

.form-photo-text {
  font-size: 8pt;
}

form-photo-text-large {
  font-size: 16pt;
}

.form-group-disabled {
  opacity: 0.3;
}

.form-plus-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.form-plus-icon:hover{
  color: $orange;
}

.vue-tags-input .input {
  border: 1px solid $border-blue !important;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem !important;
  font-size: 0.9rem;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.vue-tags-input .tag {
  background-color: $blue !important;
}

.form-gallery {
  //margin-bottom: 5.4rem;
  //margin-left: 1rem;
}

.form-gallery-item {
  margin: 1rem;
  float: left;
}

.registrations-steps .form-group .row {
  height: auto;
}

.registrations-steps .form-group .form-gallery .row {
  margin-bottom: 6.3rem;
}

.form-group{
  margin-bottom: 1.5rem;
}

.form-button-right-margin{
  margin: 0 10px;
}

.form-button-level{
  @include media ("<=tablet"){
    margin: 0.3rem 0;
    max-width: 100%;
  }
  margin: 0.4rem;
  height: 3rem;
  max-width: 30%;
}



