// Variables
@import "../../helpers/variables";
@import "../../helpers/mixins";

.companies-list{

  display: flex;
  justify-content: center;

  &__list-item{
    height: 25rem;
    width: 20rem;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    border: 1px solid black;
    padding: 1rem;
    margin: 0 10px;
  }
}
