.dashboard__courses__filter-dropdown{
  width: 225px;
  @include media('<=tablet'){
    width: 130px;
    height: 40px;
  }
}

.dashboard__courses__filter-container{
  @include media('<=tablet'){
    justify-content: center;
  }
}

.dashboard__courses__item__menu{
  justify-content: flex-end;
  @include media ('<=tablet'){
    justify-content: flex-start;
  }
}