// Variables
@import "../../variables";
/*-------Contact Form---------*/

.container-form {
  height: 100vh;
  background: url("../../../images/contact-form--img.jpg");
  background-repit: none;
  background-size: cover;
  color: #fff!important;
}

.contact-form--text h5 {
  font-size: 0.7rem;
}

.contact-form--box button {
  background: rgba(255,255,255,0.5);
  color: #fff;
}
